/* .cr{
    margin-left: 550px;
}
h2{
    margin-left: 25px;
} */
.cr{
    margin-left: 450px;
    margin-top: 20px;
    width: 600px;
    padding: 45px;
    background-color: rgb(179, 174, 174);
    box-shadow: 1px 1px 1px 1px;
    border-radius: 20px;
}
h2{
    margin-left: 45px;
}